*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #62929e;
    text-align: center;

}

.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    align-items: center;

   
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
  

}

.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    color: #560011;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 0.5rem black;
    background-color: rgb(236, 216, 189);
}

#reset_button{
    padding:0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(3, 3, 32);
}

#new_game{
    padding:0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(9, 9, 27);
}

#msg{
    color: rgb(12, 6, 26);
    font-size: 8vmin;

}

.msgcontainer{
 height: 100vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 4rem;

}
 
.hide{
    display: none;
}
    



















